// Colors
$dark-green: rgb(44, 71, 47);
$light-green: rgb(77, 108, 65);
$light-pink: rgb(249, 185, 176);
$light-pink-overlay: rgb(249, 185, 176, 0.25);
$dark-pink: rgb(223, 144, 149);
$white: rgb(255, 245, 234);

// Hamburger
$bar-width: 40px;
$bar-height: 5px;
$bar-gap: 5px;
$bar-open-width: 28px;
