@import "variables.scss";
.about-section {
  background-color: $white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  .content {
    color: $light-green;
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1100px;
    height: 650px;
    h1 {
      color: $dark-pink;
      font-size: 60px;
      margin-bottom: 24px;
    }
    p {
      font-size: 30px;
      line-height: 1.3;
      font-weight: 100;
      strong {
        font-weight: 500;
        color: $dark-green;
      }
    }
  }
}
@media (max-width: 1024px) {
  .about-section {
    .content {
      gap: 20px;
      h1 {
        font-size: 48px;
        margin-bottom: 0px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-section {
    .content {
      gap: 16px;
      h1 {
        font-size: 28px;
        margin-bottom: 0px;
      }
      p {
        font-size: 17px;
      }
    }
  }
}
