@import "variables.scss";

.appointment-section {
  min-height: 100vh;
  background-color: $light-green;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px;

  .content {
    width: 100%;
    max-width: 1030px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-text {
      margin-bottom: 36px;
      margin-left: 24px;
      h1 {
        color: $light-pink;
        font-size: 64px;
        margin-bottom: 24px;

        font-family: eloquent-jf-pro, serif;
        font-weight: 400;
        font-style: normal;
      }
      p {
        color: $white;
        font-size: 22px;
        font-weight: 100;
        line-height: 1.3;

        font-family: brandon-grotesque, sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      .inputs-container {
        max-width: 800px;
        width: 100%;
        background-color: $white;
        margin-top: 24px;
        padding: 30px 42px;
        border-radius: 48px;
        column-gap: 38px;
        row-gap: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        font-family: brandon-grotesque, sans-serif;
        font-weight: 400;
        font-style: normal;
        .form-group {
          display: flex;
          flex-direction: column;
          gap: 2px;
          min-width: 0;

          label {
            color: $light-green;
            font-size: 21px;

            margin-left: 8px;
          }
          input,
          select {
            border: 4px solid rgb(213, 201, 189);
            font-size: 19px;
            height: 48px;
            border-radius: 12px;
            background-color: $white;
            color: $light-green;
            padding-left: 8px;
            min-width: 0;
          }

          input:focus,
          select:focus,
          textarea:focus {
            outline-color: rgb(148, 137, 126);
          }

          input[type="date"]::-webkit-calendar-picker-indicator {
          }
          input[type="date"] {
            appearance: none;
            font-size: 15px;
          }

          textarea {
            border: 4px solid rgb(213, 201, 189);
            font-size: 20px;
            border-radius: 12px;
            resize: none;
            background-color: $white;
            color: $light-green;
            padding-left: 8px;

            font-family: brandon-grotesque, sans-serif;
            font-weight: 400;
            font-style: normal;
          }
        }
      }
      .name-group {
        grid-column: span 4;
      }
      .phone-group {
        grid-column: span 3;
      }

      .time-group {
        grid-column: span 2;
      }

      .service-group {
        grid-column: span 3;
      }

      .notes-group {
        grid-column: span 7;
      }

      button {
        color: $light-green;
        background-color: $white;
        font-size: 23px;
        padding: 8px 0px;
        font-family: brandon-grotesque, sans-serif;
        font-weight: 500;
        font-style: normal;
        border-radius: 24px;
        border: none;
        width: 100%;
        max-width: 250px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1024px) {
  .appointment-section {
    .content {
      .top-text {
        margin-left: 0px;
        h1 {
          text-align: left;
          font-size: 54px;
        }
        p {
          text-align: left;
        }
      }

      form {
        width: 100%;
        .inputs-container {
        }
        .form-group {
          label {
          }
          input,
          select {
          }

          input:focus,
          select:focus,
          textarea:focus {
          }

          textarea {
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .appointment-section {
    .content {
      .top-text {
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 17px;
        }
      }

      form {
        .inputs-container {
          padding: 20px 28px;
          column-gap: 16px;
          grid-template-columns: repeat(8, 1fr);
        }
        .form-group {
          label {
            font-size: 18px;
          }
          input,
          select {
            height: 40px;
            font-size: 17px;
          }

          input:focus,
          select:focus,
          textarea:focus {
          }

          textarea {
            height: 80px;
          }
        }

        .name-group {
          grid-column: span 8;
        }
        .phone-group {
          grid-column: span 6;
        }

        .time-group {
          grid-column: span 4;
        }

        .service-group {
          grid-column: span 6;
        }

        .notes-group {
          grid-column: span 8;
        }
      }
    }
  }
}
