@import "variables.scss";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-green;

  padding: 20px;
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    align-items: center;
    img {
      max-width: 400px;
    }

    .misc-info {
      display: flex;
      color: $light-pink;
      gap: 52px;
      text-align: right;
      font-size: 28px;
      font-weight: 100;
    }
  }
}

@media (max-width: 1024px) {
  footer {
    .footer-content {
      flex-direction: column;
      gap: 32px;
      img {
        max-width: 350px;
      }

      .misc-info {
        text-align: center;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .footer-content {
      flex-direction: column;
      gap: 24px;
      img {
        max-width: 250px;
      }

      .misc-info {
        gap: 24px;
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 400px) {
  footer {
    .footer-content {
      img {
        max-width: 250px;
      }

      .misc-info {
        gap: 16px;
        font-size: 18px;
      }
    }
  }
}
