@import "variables.scss";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-green;
  font-family: muli, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    align-items: center;
    img {
      max-width: 400px;
    }

    .misc-info {
      display: flex;
      color: $light-pink;
      gap: 52px;
      text-align: right;
      font-size: 24px;
    }
  }
}

@media (max-width: 1024px) {
  footer {
    padding-top: 40px;
    .footer-content {
      flex-direction: column;
      gap: 32px;
      img {
        max-width: 350px;
      }

      .misc-info {
        text-align: center;
        flex-direction: row-reverse;
        .address-contact {
          text-align: right;
        }

        .hours {
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    .footer-content {
      flex-direction: column;

      img {
        max-width: 275px;
      }

      .misc-info {
        gap: 24px;
        font-size: 18px;
        line-height: 1.2;
      }
    }
  }
}

@media (max-width: 400px) {
  footer {
    .footer-content {
      img {
      }

      .misc-info {
        gap: 16px;
        font-size: 18px;
      }
    }
  }
}
