@import "variables.scss";

#hamburger-icon {
  display: flex;
  flex-direction: column;
  gap: $bar-gap;
  margin: 24px;
  height: fit-content;
  z-index: 2;
}

#hamburger-icon input,
#hamburger-icon::before,
#hamburger-icon::after {
  content: "";
  width: $bar-width;
  height: $bar-height;
  background-color: $light-green;
  transition: all 0.4s;

  transform-origin: right center;
  will-change: transform;
  pointer-events: none;
}

#hamburger-icon input {
  transform-origin: center;
}

#hamburger-icon input:checked {
  transform: scaleX(0);
}

#hamburger-icon:has(input:checked)::before {
  transform: rotate(-40deg);
  width: $bar-open-width;
}

#hamburger-icon:has(input:checked)::after {
  transform: rotate(40deg);
  width: $bar-open-width;
}

#hamburger-icon input {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
}
