@import "variables";

header {
  background-color: $light-pink;
  padding: 4px 12px;

  .logo {
    max-width: 220px;
  }
  nav {
    display: flex;
    justify-content: center;
    .desktop-nav {
      align-items: center;
      display: flex;
      color: $light-green;
      font-size: 24px;
      width: 100%;
      max-width: 1920px;
      justify-content: space-around;

      li {
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .mobile-nav-closed {
    display: none;
  }
}

@media (max-width: 900px) {
  header {
    nav {
      .desktop-nav {
        display: none;
      }
      .mobile-nav-closed-setup {
        display: flex;
        justify-content: space-between;
      }
    }
    .logo {
      width: 100%;
    }
  }
}
