@import "variables.scss";

#hero-section {
  background-image: url("../images//hero-photo.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  flex-grow: 1;
  background-attachment: fixed; // Change if lara despises this
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
    align-items: center;
    text-align: center;
    .hero-text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .big {
        font-size: 128px;
        color: $light-pink;
        font-family: eloquent-jf-small-caps-pro, serif;
        font-weight: 400;
        font-style: italic;
      }
      .small {
        color: $white;
        font-size: 58px;
        font-family: muli, sans-serif;
      }
    }

    .cta-btn {
      font-family: brandon-grotesque, sans-serif;
      font-weight: 500;
      font-style: normal;

      color: $light-green;
      padding: 16px 32px;
      border-radius: 48px;
      text-align: center;
      font-size: 28px;
      border: none;
      background-color: $white;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  #hero-section {
    background-attachment: scroll;
    .content {
      gap: 48px;
      .hero-text {
        .big {
          font-size: 90px;
        }
        .small {
          font-size: 48px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #hero-section {
    .content {
      .hero-text {
        .big {
          font-size: 54px;
        }
        .small {
          font-size: 28px;
        }
      }
    }
  }
}

@media (max-width: 368px) {
  #hero-section {
    .content {
      .hero-text {
        .big {
          font-size: 48px;
        }
        .small {
          font-size: 24px;
        }
      }
    }
  }
}
