@import "variables.scss";

#hero-section {
  background-image: url("../images//hero-photo.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  flex-grow: 1;
  background-attachment: fixed; // Change if lara despises this
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;
    align-items: center;
    text-align: center;
    .hero-text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .big {
        font-size: 160px;
        color: $light-pink;
      }
      .small {
        color: $white;
        font-size: 64px;
      }
    }

    .cta-btn {
      color: $light-green;
      padding: 24px 64px;
      border-radius: 20px;
      text-align: center;
      font-size: 24px;
      border: none;
      background-color: $white;
      cursor: pointer;
    }
  }
}

@media (max-width: 900px) {
  #hero-section {
    background-attachment: scroll;
    .content {
      gap: 48px;
      .hero-text {
        .big {
          font-size: 90px;
        }
        .small {
          font-size: 48px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #hero-section {
    .content {
      .hero-text {
        .big {
          font-size: 72px;
        }
        .small {
          font-size: 32px;
        }
      }
    }
  }
}
