@import "variables.scss";

.services-section {
  background-color: $light-pink;
  color: $light-green;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 32px 32px;
  .content {
    display: flex;
    justify-content: center;

    height: 100%;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;

    h1 {
      font-size: 48px;
      text-align: left;
      margin-bottom: 32px;
    }

    .special-info {
      font-size: 28px;
      margin-bottom: 48px;
    }

    .services-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 54px;
      column-gap: auto;
      .service-category-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h2 {
          font-weight: normal;
          font-size: 42px;
        }
        ul {
          font-weight: thin;
          font-size: 28px;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .services-section {
    height: auto;
    max-height: none;
    padding: 32px 32px;
    .content {
      h1 {
        font-size: 32px;
        margin-bottom: 16px;
      }

      .special-info {
        font-size: 18px;
        margin-bottom: 18px;
      }

      .services-grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
        direction: rtl;
        .service-category-list {
          gap: 8px;
          h2 {
            font-weight: 600;
            font-size: 24px;
          }
          ul {
            font-size: 18px;
            gap: 12px;
          }
        }
      }
    }
  }
}
